<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="moe.aira.core.mapper.PointRankingMapper">
    <insert id="upsertPointRanking">
        replace into es_point_ranking
        (event_id,event_point,event_rank,user_id)
        values
        <foreach collection="pointRankings" item="ranking" separator=",">
            (#{ranking.eventId},#{ranking.eventPoint},#{ranking.eventRank},#{ranking.userId})
        </foreach>
       
    </insert>
</mapper>