<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="moe.aira.core.mapper.UserProfileMapper">
    <insert id="upsertUserProfile">
        replace into es_user_profile
        (event_id, user_id, user_name, user_favorite_card_id, user_favorite_card_evolved, user_award1_id,
        user_award1_value, user_award2_id, user_award2_value)
        values

        <foreach collection="userProfiles" item="profile" separator=",">
            (
            #{profile.eventId},
            #{profile.userId},
            #{profile.userName},
            #{profile.userFavoriteCardId},
            #{profile.userFavoriteCardEvolved},
            ifnull(#{profile.userAward1Id},-1),
            ifnull(#{profile.userAward1Value},-1),
            ifnull(#{profile.userAward2Id},-1),
            ifnull(#{profile.userAward2Value},-1)
            )
        </foreach>
    </insert>
</mapper>